*.class
*.dat
LBDEM/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Binaries
bin/
build/

# Mac files
.DS_Store
*/.DS_Store

# unit test output
unitTests
/PeriodicTest_rho.dat
/PeriodicTest_u.dat
/PeriodicTest_x.dat
/PeriodicTest_y.dat
